dotenv
pandas
openai
tiktoken
pytesseract
beautifulsoup4
markdownify
PyMuPDF==1.26.3
frontend
opencv-python
dask
pyarrow
scikit-learn
python-telegram-bot
streamlit
numpy
cryptography
openpyxl
pyautogui
pynput
keyboard
soundcard
yt-dlp
#EIGENLIB
fpdf
pygame
torchaudio
transformers
cryptography
azure-identity
sounddevice
soundfile
notion_client
psutil
git+https://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@github.com/aprendesc/eigenlib.git
git+https://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@github.com/aprendesc/swarm-automations.git