dotenv
pandas
#requests
#torch
openai
tiktoken
#Pillow
pytesseract
beautifulsoup4
markdownify
PyMuPDF==1.26.3
frontend
opencv-python
dask
pyarrow
#wandb
scikit-learn
python-telegram-bot
streamlit
numpy
cryptography
#chatterbox
openpyxl
#EIGENLIB
fpdf
pygame
torchaudio
transformers
cryptography
azure-identity
sounddevice
soundfile
notion_client
psutil